@import "tailwindcss";

body {
  background: rgb(15, 15, 18);
  color: white;
  font-family: Outfit, Roboto, sans-serif;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.5625rem;
  line-height: 2rem;
}

p, li {
  font-size: 1rem;
  line-height: 1.25rem;
  color: rgb(186, 191, 195);
}

span {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: rgb(186, 191, 195);
}